@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.list-type-id {
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 5px;
    padding-top: 1em;
}

.text {
    color: #fff;
    margin-top: 0.5em;
}

.filters {
    display: flex;
    flex-direction: column;
    background-color: #e9e8e8;
    border-style: solid;
    border-radius: 4px;
    border-color: #e9e8e8;
    padding: 10px;
    gap: 1.5em;
}

.tamanhos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.botao-tamanho {
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 4px;
    padding: 0.5em;
    transition: background-color 0.3s ease;
}

.search-bar {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.list-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.button-type {
    margin-right: 5px;
    border: 2px solid #000;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-type.checked {
    background-color: #008000;
}

.li-type {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.h2-tamanho {
    margin: 0;
    font-size: 20px;
}

.range-box {
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.range-box-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.cursor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.filter-show {
    display: none;
}

#header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    height: 68px;
    padding-top: 1em;
    box-shadow: 0px 3px 5px #807c7c;
}

#header-text {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

#section-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    min-width: 17em;
}

#filter-box {
    max-width: 18em;
    /* background: #bdbdbd; */
    margin-left: 8em;
    margin-top: 5em;
    border-style: solid;
    /* border-color: #bdbdbd; */
    border-style: none;
    border-radius: 8px;
}