@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

.header {
  color: #fff;
  font-size: 20px;
  transition: ease-in-out 0.3s;
}

.header:hover {
  color: #0b40dd;
  font-size: 22px;
}

.imagens {
  padding-top: 10px;
  margin-left: 1em;
}

.borda-preta {
    border-width: 4px;
    border-style: solid;
    border-color:  #000;
    border-radius: 5px;
}

.borda-tamanho {
  justify-content: space-between;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color:  #000;
    border-radius: 5px;
    width: 100%;
}

.line {
    text-decoration: line-through;
    text-decoration-color: #000;
    font-size: 13px;
}

.parcelado {
    font-size: 10px
}

#imagem-logo {
  width: 75%;
  object-fit: contain;
}

#header-box {
  background-color: #000;
  display: flex;
  padding-top: 0%;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 1em;
  box-shadow: 0px 3px 5px #807c7c;
}

#header-texto {
  display: flex;
  flex-direction: row;
  gap: 50px;
}