<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/assets/logo-svg.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KENI - Loja Oficial</title>
</head>

<body>
    <header id="header">
        <div>
            <img class="img-logo" style="margin-left: 1em;" src="../static/assets/logo-svg.svg" alt="Polo">
        </div>
    </header>
    <div class="parent container d-flex flex-column justify-content-center" style="margin-top: 100px;" >
        <div class="d-flex flex-row align-items-center justify-content-between" style="padding-bottom: 2em;">
            <div class="flex-grow-1 text-center">
                <h2>Produtos</h2>
            </div>
            <div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-cadastro" class="btn btn-primary btn-sm">Adicionar</button>
            </div>
        </div>
        <table class="table table-bordered table-striped table-dark table-responsive fs-5 text-center w-100">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Imagem</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tamanho</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="lista-produtos">
                <tr>
                    <th scope="row">1</th>
                    <td>Teste titulo</td>
                    <td>Teste categoria</td>
                    <td>Teste imagem</td>
                    <td>Teste tamanho</td>
                    <td>Teste preço</td>
                    <td><i class="ph ph-pencil" style="color: rgb(0, 195, 255);"></i> <i class="ph ph-trash"style="color: #f00;" ></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-cadastro" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-cadastro">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">Adicionar Produto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="cadastro">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="tamanho" class="form-label">Tamanhos</label>
                    <input type="text" class="form-control" id="tamanho">
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preco</label>
                    <input type="text" class="form-control" id="preco">
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoria</label>
                    <input type="text" class="form-control" id="categoria">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Criar</button>
              </form>
          </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="modal-edicao" tabindex="-1" aria-labelledby="modalEdicao" aria-hidden="true">
        <div class="modal-dialog modal-dialog-edicao">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalEdicao">Editar Produto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="edicao">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="tamanho" class="form-label">Tamanhos</label>
                    <input type="text" class="form-control" id="tamanho">
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preco</label>
                    <input type="text" class="form-control" id="preco">
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoria</label>
                    <input type="text" class="form-control" id="categoria">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Criar</button>
              </form>
          </div>
        </div>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="../static/js/admin.js"></script>
</body>

</html>